<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Customers</title>
</head>

<body>
	<h1>Customers</h1>

	<a href="/add">Add customer</a>

	<form action="/search" method="get">
		<input type="text" name="firstName" placeholder="First Name">
		<button>Search customer</button>
	</form>

	<div th:if=${message}>
		<p th:text="${message}"></p>
	</div>

	<dl th:each="customer : ${customers}">
		<dt th:text="${customer.id}"></dt>
		<dd th:text=${customer.firstName}></dd>
		<dd th:text=${customer.lastName}></dd>
	</dl>

</body>

</html>
