<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login Page</title>
</head>

<body>

	<div th:if="${param.error}">Invalid username and/or password.</div>
	<div th:if="${param.logout}">You have been logged out.</div>

	<form action="/login" method="POST">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
		<label for="username">Username:</label>
		<input type="text" name="username">
		<label for="password">Password:</label>
		<input type="password" name="password">
		<button>Sign In</button>
	</form>

</body>

</html>
